:root {
    --first-colour: #368B85;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Glory', sans-serif;
    background-color: var(--first-colour);
    font-size: 25px;
    color: white;
    overflow-x: hidden;
}

h1 {
    padding: 10px;
    margin-bottom: 50px;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}

.content-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.words-box {
    width: 50%;
    height: 98px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 10px black;
}

.words-line div {
    display: flex;
    justify-content: space-around;
}

input {
    margin: 15px;
    width: 50%;
    height: 50px;
    padding: 20px;
    font-family: 'Glory', sans-serif;
    text-decoration: none;
    font-size: 25px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

input:focus {
    outline: none;
}

.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 5px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

.words-box span {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

button {
    padding: 5px;
    font-size: 60px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
    transition: transform .2s, box-shadow .2s;
}

button:hover {
    transform: scale(.9);
    box-shadow: 0px 0px 0px black;
}

.reset {
    margin-top: 20px;
}

.highlight, .highlight-wrong, .correct, .wrong {
    border-radius: 10%;
}

.highlight {
    background-color: rgba(0, 0, 0, .25);
}

.correct {
    background-color: rgba(0, 255, 0, .25);
}

.wrong {
    background-color: rgba(255, 0, 0, .5);
}

.hide {
    display: none;
}

h2 {
    margin-top: 5%;
    font-size: 50px;
}

.container-results {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.result-box {
    width: 25%;
    height: 80%;
}

.result-box p {
    margin: 20px;
}

.result-background {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}

.diagrams {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 80%;
}

.diagram {
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}

.diagram-1 {
    flex-direction: column;
    align-items: flex-start;
}

.diagram-2 {
    flex-direction: column;
    justify-content: flex-end;
}

.result-buttons {
    display: flex;
    justify-content: space-between;
}

.result-box h3, .result-box h4 {
    margin-bottom: 15px;
    text-align: center;
}

.general, .wrong-words, .diagram-1, .diagram-2 {
    padding: 40px;
}

body::-webkit-scrollbar {
    width: 2em;
}
 
body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 999px;
    background-clip: content-box;
    border: 15px solid transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 999px;
    background-clip: content-box;
    border: 15px solid transparent;
}

#chartdiv {
    width: 100%;
    height: 100%
  }